{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }],
    "@104corp/espack/lib/babel/preset-stage"
  ],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        "@104corp/espack/lib/babel/preset-stage"
      ]
    }
  }
}