__tests__
__mocks__
*.tgz
.npm
.yarn-integrity
yarn-error.log*
yarn-debug.log*
npm-debug.log*
.travis.yml
yarn.lock
package-lock.json
junit.xml
.eslintignore
.eslintrc
.gitignore
.babelrc
/dist
/.tmp
/coverage
/scripts