<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require("../../_commons/head.ejs")({
      title: 'Page 2',
      baseTag: htmlWebpackPlugin.options.baseTag
    }) %>
  </head>
  <body>
    <div class="layout">
      <%= require("../../_commons/header.ejs")({
        active: 'page2'
      }) %>
      <i class="material-icons icon">&#xE8D0;</i>
      <i class="material-icons icon">&#xE8D0;</i>
      <div class="pic-more"></div>
      <div id="console"></div>
    </div>
  </body>
</html>