<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require("../_commons/head.ejs")({
      title: 'VUE',
      baseTag: htmlWebpackPlugin.options.baseTag
    }) %>
  </head>
  <body>
    <div id='app'>
      <!--[if lte IE 8]>警告 Vue 不支援 IE 8<![endif]-->
    </div>
  </body>
</html>