<header class="header">
  <nav class="nav">
    <ul>
      <a href="separate/page1.html" <%if (active === 'page1') { %> class="active" <% } %>>
        <li>Page 1</li>
      </a>
      <a href="separate/page2.html" <%if (active === 'page2') { %> class="active" <% } %>>
        <li>Page 2</li>
      </a>
      <a href="spa/page3">
        <li>Page 3</li>
      </a>
      <a href="spa/page4">
        <li>Page 4</li>
      </a>
    </ul>
  </nav>
</header>